.card-header {
    border-bottom: 1px solid white !important;
}

.card {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75) !important;
}

.card-body:hover {
    cursor: pointer;
}

.card:active {
    -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75) !important;
    /* Agregamos la transición aquí */
    transition: box-shadow 0.5s ease;
}

.icon_button {
    width: 35px;
    height: 35px;
}

.second_i_btn {
    margin-left: 1%;
}

.priority {
    cursor: default;
}