<div class="card border border-light shadow-0 text-white bg-dark mb-3" style="max-width: 23rem;">
    <div class="card-header">
        <div class="example-button-container">
            <div class="d-flex">
                <span disabled class="priority me-auto btn btn-success">Bajo</span>
                <button class="icon_button" mat-mini-fab aria-label="Delete icon-button">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="icon_button second_i_btn" mat-mini-fab aria-label="Edit icon-button">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Tarea</h5>
        <p class="card-text">{{title}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">Aqui irá la descripción de la tarjeta.</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h6 class="card-title">Fecha inicio:</h6>
                <p class="card-text">12/12/2024</p>
            </div>
            <div class="col-4">
                <h6 class="card-title">Horas estimadas:</h6>
                <p class="card-text">40:00 h</p>
            </div>
            <div class="col-4">
                <h6 class="card-title">Horas dedicadas:</h6>
                <p class="card-text">02:30 h</p>
            </div>
        </div>
    </div>
</div>

<!-- 
<button type="button" class="btn btn-primary btn-rounded" mdbRipple>Primary</button>
<button type="button" class="btn btn-secondary btn-rounded" mdbRipple>Secondary</button>
<button type="button" class="btn btn-success btn-rounded" mdbRipple>Success</button>
<button type="button" class="btn btn-danger btn-rounded" mdbRipple>Danger</button>
<button type="button" class="btn btn-warning btn-rounded" mdbRipple>Warning</button>
<button type="button" class="btn btn-info btn-rounded" mdbRipple>Info</button>
<button type="button" class="btn btn-light btn-rounded" mdbRipple>Light</button>
<button type="button" class="btn btn-dark btn-rounded" mdbRipple>Dark</button>
-->