<div class="card border border-light shadow-0 text-white bg-dark mb-3" style="max-width: 23rem;">
    <div class="card-header">
        <div class="example-button-container">
            <div class="d-flex">
                @if (priority === 'low') {
                <span disabled class="priority me-auto btn btn-success">Bajo</span>
                }@else if (priority === 'moderate') {
                <span disabled class="priority me-auto btn btn-primary">Moderado</span>
                }@else if (priority === 'important') {
                <span style="background-color: yellow; color: black;" disabled
                    class="priority me-auto btn btn-primary">Importante</span>
                }@else if (priority === 'hight') {
                <span disabled class="priority me-auto btn btn-warning">Prioritario</span>
                }@else if (priority === 'urgent'){
                <span disabled class="priority me-auto btn btn-danger">Urgente</span>
                }
                <button class="icon_button" mat-mini-fab aria-label="Delete icon-button">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="icon_button second_i_btn" mat-mini-fab aria-label="Edit icon-button">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Tarea</h5>
        <p class="card-text">{{title}}</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <p class="card-text">{{description}}</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h6 class="card-title">Fecha inicio:</h6>
                <p class="card-text">{{dateInit}}</p>
            </div>
            <div class="col-4">
                <h6 class="card-title">Horas estimadas:</h6>
                <p class="card-text">{{estimatedHours}}:00 h</p>
            </div>
            <div class="col-4">
                <h6 class="card-title">Horas dedicadas:</h6>
                <p class="card-text">{{dedicatedHours}}:00 h</p>
            </div>
        </div>
    </div>
</div>