<!-- NAVBAR Menu -->
<div class="container-md">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="far fa-calendar-check"></i></a>
            <button class="navbar-toggler" type="button" (click)="noListNav.toggle()" aria-expanded="true"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" mdbCollapse
                #noListNav="mdbCollapse">
                <div class="navbar-nav">
                    <button #popover="mdbPopover" [mdbPopover]="template" placement="bottom" class="nav-link"
                        aria-current="page" href="#">NUEVO PROYECTO</button>
                    <ng-template #template>
                        <form (ngSubmit)="onSubmit()" [formGroup]="proyectForm" method="post">
                            <label mdbLabel class="form-label" for="title">Titulo del proyecto:</label>
                            <input formControlName="proyect_name" mdbInput type="text" id="title" class="form-control"
                                required />
                            <button (click)="onSubmit()" type="button" class="btn btn-primary mt-2">Crear
                                proyecto</button>
                        </form>
                    </ng-template>
                    <a class="nav-link active" aria-current="page" href="#">WORKSPACE</a>
                    <div mdbDropdown class="dropdown">
                        <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuButton"
                            aria-expanded="true" mdbDropdownToggle aria-current="page" href="#">PROYECTOS</button>
                        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @for (proyect of allProyects; track allProyects) {
                            <li><a (click)="onClickProyect(proyect.id, proyect.name)" class="dropdown-item"
                                    href="#">{{proyect.name}}</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Finish NAVBAR Menu -->