<!-- NAVBAR Menu -->
<div class="container-md">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="far fa-calendar-check"></i></a>
            <button class="navbar-toggler" type="button" (click)="noListNav.toggle()" aria-expanded="true"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" mdbCollapse
                #noListNav="mdbCollapse">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="#">INICIO</a>
                    <a class="nav-link active" aria-current="page" href="#">NUEVO PROYECTO</a>
                    <div mdbDropdown class="dropdown">
                        <button type="button" class="nav-link dropdown-toggle" id="dropdownMenuButton"
                            aria-expanded="true" mdbDropdownToggle aria-current="page" href="#">PROYECTOS</button>
                        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @for (proyect of allProyects; track allProyects) {
                            <li><a (click)="onClickProyect(proyect.id)" class="dropdown-item"
                                    href="#">{{proyect.name}}</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Finish NAVBAR Menu -->